<h1>Lil Esty is the Betsy</h1>
<br>
<%= link_to "Merchants", "/merchants/6/dashboard", method: :get%><br><br>
<%= link_to "Example Merchant 6 Items", "/merchants/6/items", method: :get%><br><br>
<%= link_to "Example Merchant 6 Invoices", "/merchants/6/invoices", method: :get%><br><br>
<%= link_to "Admin Dashboard", admin_path, method: :get%><br><br>
